<header>
  <div class="container">
    <a href="#" routerLink="/" class="logo">Hungry Fellas :)</a>
    <nav>
        <ul style="display:flex">
            <li>
                <a href="" routerLink="/">Home</a>  
            </li>
            <li>
               <a href="" routerLink="/">Menu</a>  
            </li>
            <li>
                <a href="" routerLink="/">About Us</a>  
            </li>
            <li>
                <a href="" routerLink="/cart-page">Cart</a>  
            </li>
        </ul>
    </nav>
  </div>
</header>